body {
    margin: 0;
    padding: 0;
    font-family: kameron;
  }
  
  #wrapper {
    display: flex;
  }
  
  #sidebar {
    max-width: 200px;
    min-width: 70px;
    position: sticky;
    top: 0;
    height: 100vh;
    background: #007bff;
    color: white;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }
  
  #sidebar .navbar-brand img {
    width: 75px;
    height: 75px;
  }
  
  #sidebar .navbar-nav {
    display: flex;
    flex-direction: column;
  }
  
  #sidebar .nav-item {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  #sidebar .nav-item i {
    margin-right: 5px;
  }
  
  #sidebar .nav-item a {
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid #007bff;
    border-right: 5px solid #007bff;
    border-bottom: 5px solid #007bff;
    padding: 10px;
    border-radius: 25px;
  }
  
  header div {
    display: flex;
    flex-direction: column;
  }
  
  header p1,
  header p2,
  header p3 {
    font-weight: bold;
  }
  
  header p1 {
    font-size: 24px;
  }
  
  header p2 {
    font-size: 22px;
  }
  
  header p3 {
    font-size: 20px;
  }
  
  #profile {
    display: flex;
    align-items: center;
  }
  
  #profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  #profile span {
    font-weight: bold;
    font-size: 14px;
  }
  
  #content {
    width: 100%;
    padding: 15px;
  }
  
  h1 {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .PersonalInfo-box {
    display: flex;
    border: 3px solid #007bff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 25px;
    width: 1400px;
    height: 550px;
    margin: 0 auto;
    width: 100%;
    transition: height 0.5s ease;
    justify-content: center;
    overflow-y: scroll;
  }
  
  .PersonalInfo-box input {
    font-family: "kameron", sans-serif; 
    font-size: 14px; 
    width: 180px;
    height: 20px;
    margin-left: 5px;
    border: 1px solid;
  }
  
  .PersonalInfo-box label {
    font-family: "kameron", sans-serif; 
    font-size: 14px; 
    font-weight: bold; 
  }
  
  .btn-primary {
    border-radius: 25px;
    font-size: 16px;
  }
  
  .cycle-tab-container a {
    color: #173649;
    font-size: 16px;
    font-family: roboto;
    text-align: center;
    background: #dbdbdb;
  }
  
  .tab-pane {
    text-align: center;
    height: 100px !important;
    margin: 30px auto;
    width: 500px;
    max-width: 100%;
  }
  
  .nav {
    justify-content: flex-end !important;
    margin-bottom: 1rem;
  }
  
  .cycle-tab-item {
    margin-right: 10px;
  }
  
  .cycle-tab-item:after {
    display: block;
    content: "";
    border-bottom: solid 3px red;
    transform: scaleX(0);
    transition: transform 0ms ease-out;
  }
  .cycle-tab-item.active:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
    transition: transform 5000ms ease-in;
  }
  .nav-link:focus,
  .nav-link:hover,
  .cycle-tab-item.active a {
    border-color: transparent !important;
    color: #007bff;
  }
  .nav-link.active {
    color: #007bff !important; 
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    gap: 20px; 
  }
  
  img {
    width: 100px;
    height: 100px;
  }
  
  .card {
    width: 190px;
    background: white;
    padding: 0.4em;
    border-radius: 6px;
  }
  
  .card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0 0;
  }
  
  .card-image img:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
    text-align: center;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    font-size: 10px;
    max-width: 100%;
    text-align: center;
  }
  
  .heading2 {
    font-weight: 600;
    color: rgb(88, 87, 87);
    font-size: 10px;
    max-width: 100%;
    text-align: center;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }
  
  #devteam-header {
    color: red;
  }
  
  #Ictteam-header {
    color: blue;
  }
  
  .card:last-child {
    margin-bottom: 100px; 
  }
  
  @media (max-width: 1250px) {
    header p1 {
      font-size: 20px;
    }
  
    header p2 {
      font-size: 18px;
    }
  
    header p3 {
      font-size: 16px;
    }
  
    #profile span {
      font-size: 12px;
    }
  
    h1 {
      font-size: 30px;
    }
  }
  
  @media (max-width: 1051px) {
    .PersonalInfo-box {
      height: 650px;
    }
  }
  
  @media (max-width: 960px) {
    header p1 {
      font-size: 18px;
    }
  
    header p2 {
      font-size: 16px;
    }
  
    header p3 {
      font-size: 14px;
    }
  
    #profile span {
      font-size: 10px;
    }
  
    h1 {
      font-size: 20px;
    }
  }
  
  @media (max-width: 875px) {
    #sidebar {
      width: 70px;
    }
  
    #sidebar .navbar-nav {
      align-items: center;
    }
    #sidebar .nav-item {
      padding: 5px;
      margin-bottom: 5px;
    }
    #sidebar .nav-item span {
      display: none;
    }
    #sidebar .navbar {
      overflow: visible;
      justify-content: center;
    }
  
    header p1 {
      font-size: 16px;
    }
  
    header p2 {
      font-size: 14px;
    }
  
    header p3 {
      font-size: 12px;
    }
  
    #profile span {
      font-size: 10px;
    }
  
    h1 {
      font-size: 18px;
    }
  }
  
  @media (max-width: 767px) {
    .PersonalInfo-box {
      height: 1500px;
    }
  }