 /* Reset some default Bootstrap styles for the sidebar */
 #sidebar {
    height: 100%;
    position: fixed;
    background-color: #007BFF; /* Change this color to your desired color */
    overflow-y: auto; /* Enable scrolling for the sidebar if content exceeds the height */
}

/* Style the logo */
#sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
}

#sidebar .logo img {
    width: 80px; /* Adjust the width as needed */
}

/* Style the navigation links in the sidebar */
#sidebar .nav-link {
    padding: 10px;
    color: white;
    display: inline-block; /* Show navigation links inline */
}

#sidebar .nav-link i {
    margin-right: 5px; /* Add some space between the icon and text */
}

#sidebar .nav-link:hover {
    background-color: #2980b9; /* Change this color to your desired hover color */
}

/* Adjust the main content area to leave space for the fixed sidebar */
#main-content {
    transition: margin-left 0.3s;
}

@media (min-width: 768px) {
    #sidebar {
        width: 240px;
        max-width: 240px; /* Set a maximum width for larger screens */
    }

    #main-content {
        margin-left: 240px; /* Adjust this value based on your sidebar width */
    }
}