body {
  margin: 0;
  padding: 0;
  font-family: kameron;
  min-width: 500px;


}

#wrapper {
  display: flex;
}

.navbar {
  padding: 0.5rem 1rem !important;
}

#sidebar {
  max-width: 200px;
  min-width: 70px;
  position: sticky;
  top: 0;
  height: 100vh;
  background: #007bff;
  color: white;
  transition: all 0.3s;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}


#sidebar .navbar-brand img {
  width: 75px;
  height: 75px;
}

#sidebar .navbar-nav {
  display: flex;
  flex-direction: column;
}

#sidebar .nav-item {
  padding: 5px;
  margin-bottom: 10px;
}

#sidebar .nav-item i {
  margin-right: 5px;
}

#sidebar .nav-item a {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #007bff;
  border-left: 1px solid #007bff;
  border-right: 1px solid #007bff;
  border-bottom: 1px solid #007bff;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 16px 12px 9px 0px rgba(0, 0, 0, 0.18);
}

header div {
  display: flex;
  flex-direction: column;
}

header p1,
header p2,
header p3 {
  font-weight: bold;
}

header p1 {
  font-size: 24px;
}

header p2 {
  font-size: 22px;
}

header p3 {
  font-size: 20px;
}

#profile {
  display: flex;
  align-items: center;
}

#profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#profile span {
  font-weight: bold;
  font-size: 14px;
}

#content {
  width: 100%;
  padding: 15px;
  overflow-x: auto;
}

h1 {
  margin-top: 20px;
  font-weight: bold;
}

.table {
  --bs-table-hover-bg: #A9D8F7 !important;
}

#example {
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  border-top: 1px solid #007bff;
  border-left: 1px solid #007bff;
  border-right: 2px solid #007bff;
  border-bottom: 2px solid #007bff;
  margin: 0 auto;
  width: 100%;
  background-color: #f5f7fa;
  transition: height 0.5s ease;
  box-shadow: 8px 6px 5px 0px rgba(0, 0, 0, 0.18);
  overflow-x: auto !important;
  overflow-y: auto !important;
}

td {
  text-align: center !important;
  vertical-align: middle !important;
}

thead,
th {

  text-align: center !important;
  vertical-align: middle !important;
}

.AddButton {
  display: flex;
  justify-content: space-between;
}

.custom-btn {
  font-size: 20px !important;
  border-radius: 25px;

  padding: 9px 45px;

}

.addRecord {
  margin-bottom: 10px;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #007bff;
  border: 1px solid #007bff;
  font-weight: bolder;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  color: #ffffff;
  margin-left: 1rem;
  margin-top: 1rem;
}

.addRecord:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.modal-content {
  border-radius: 50px !important;
  box-shadow: 10px 10px 20px #7f7c7c, -10px -10px 20px #ffffff;
}

#titleModalLabel {
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: large;
  left: 0;
  right: 0;
}

.btn-close {
  z-index: 2;
}

#school {
  text-transform: uppercase;
}

#degree {
  text-transform: uppercase;
}

.modal-footer {
  justify-content: center;
}

.inputGroup {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 1em 0;
  max-width: 190px;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1em;
  padding: 0.1em;
  background-color: White;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}

.inputGroup select {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  width: 250px;
}

.inputGroup select:focus+label2,
.inputGroup select:valid+label2 {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 0.6em;
  padding: 0.1em;
  background-color: White;
}

.inputGroup select:focus,
.inputGroup select:valid {
  border-color: rgb(150, 150, 200);
}

.inputGroup label2 {
  font-size: 100%;
  position: absolute;
  padding: 0.8em;
  top: 0.1em;
  left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

@media (max-width: 1250px) {
  header p1 {
    font-size: 20px;
  }

  header p2 {
    font-size: 18px;
  }

  header p3 {
    font-size: 16px;
  }

  #profile span {
    font-size: 12px;
  }

  h1 {
    font-size: 30px;
  }

  .addRecord {

    padding: 0.5em 1.5em;
    font-size: 14px;

  }

}



@media (max-width: 960px) {
  header p1 {
    font-size: 18px;
  }

  header p2 {
    font-size: 16px;
  }

  header p3 {
    font-size: 14px;
  }

  #profile span {
    font-size: 10px;
  }

  h1 {
    font-size: 20px;
  }

  .addRecord {

    padding: 0.5em .5em;
    font-size: 12px;

  }



}

@media (max-width: 875px) {
  #sidebar {
    width: 70px;
  }

  #sidebar .navbar-nav {
    align-items: center;
  }

  #sidebar .nav-item {
    padding: 5px;
    margin-bottom: 5px;
  }

  #sidebar .nav-item span {
    display: none;
  }

  #sidebar .navbar {
    overflow: visible;
    justify-content: center;
  }

  header p1 {
    font-size: 16px;
  }

  header p2 {
    font-size: 14px;
  }

  header p3 {
    font-size: 12px;
  }

  #profile span {
    font-size: 10px;
  }

  h1 {
    font-size: 18px;
  }

  .addRecord {

    padding: 0.5em .5em;
    font-size: 10px;

  }


}

@media (max-width: 767px) {



  .addRecord {

    padding: 0.2em .2em;
    font-size: 8px;

  }

  tbody td {
    padding: 8px 1px !important;
  }

 

}

@media (max-width: 412px) {

  #sidebar {


    height: 120vh;

  }



}

@media (max-width: 360px) {

  #sidebar {


    height: 140vh;

  }



}