#stackedbarElementary_district1,
#stackedbarElementary_district2,
#stackedbarElementary_district3,
#stackedbarElementary_district4,
#stackedbarElementary_district5,
#stackedbarElementary_district6 {
    height: 400px !important;
    width: 80% !important;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 83px;
    justify-content: center;
    margin-top: 20px;

}

.card__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards .red {
    background-color: #f43f5e;

}

.cards .blue {
    background-color: #3b82f6;
}

.cards .green {
    background-color: #22c55e;
}

.cards .gray {
    background-color: #138496;
}

.card .tip {
    margin-bottom: 5px;
    /* Adjust this value to reduce the space */
}

.card .second-text {
    margin-top: 2px;
    font-weight: 700;
    margin-right: 30px;
    /* Adjust the value as needed */
}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 155px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
}

.cards .card p.tip {
    font-size: 1.5em;
    font-weight: 700;
}

.cards .card p.second-text {
    font-size: 1em;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover>.card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}

.second-text-container {
    display: flex;
    /* Use flexbox to align items horizontally */
    justify-content: space-between;
    /* Distribute items evenly */
}

.Chartcards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;

}



.Chartcard2 {
    width: 1200px;
    height: 450px;
    background-color: #F8FBFE;
    border-radius: 8px;
    z-index: 1;
    margin-top: 20px;


}



.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}